index.html
js/01-hello-world.js
js/02-declaring-variables.js
js/04-boolean-variables.js
css/style.css
js/03-numeric-variables.js
js/05-data-structure-control.js
js/06-template-literals.js
js/08-document-object-model.js
js/07-string-atts.js
js/08-dom-first-examples.js
js/08-dom-get-elements.js
js/11-switch-case-example.js
js/11-switch-case-example.js
js/09-dom-get-list.js
js/10-logic-operators.js
js/12-functions.js
js/13-functions-with-params.js
js-examples/001-button-counter.js
js-examples/002-dark-mode-switch.js
js/14-fat-arrow-functions.js
